<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="images/icon.ico" >

		<link rel="stylesheet" href="styles/4-common.css"/>
		<link rel="stylesheet" href="styles/3-header.css"/>
		<link rel="stylesheet" href="styles/3-footer.css"/>
		<link rel="stylesheet" href="styles/6-filters.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>{{ states[0].name}}, {{ states[1].name}}...</h4>
					<ul class="popover">
					{% for state in states | sort(attribute='name') %}
						<li>
							<h2>{{ state.name }}</h2>
							<ul>
							{% for city in state.cities | sort(attribute='name')%}
								<li><h4><b>{{ city.name }}</b></h4></li>
							{{% endfor %}}
							</ul>
						</li>
					</ul>
				</div>
				<div class="amenities">
					<h3>Amenities</h3>
					<h4>{{ amenities[0].name}}, {{ amenities[1].name}}...</h4>
					<ul class="popover">
					{% for amenity in amenities | sort(attribute='name') %}
						<li><h4>amenity</h4></li>
					{{% endfor %}}
					</ul>
				</div>

			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
